Repository tedilabs/terraform-aws-cloudfront, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: distribution, :floppy_disk: cache-policy, :floppy_disk: key-value-store, :floppy_disk: origin-access-control, :floppy_disk: origin-request-policy, :floppy_disk: response-headers-policy

.github/labeler.yaml:

# Modules
":floppy_disk: distribution":
- changed-files:
  - any-glob-to-any-file:
    - modules/distribution/**/*

":floppy_disk: cache-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/cache-policy/**/*

":floppy_disk: key-value-store":
- changed-files:
  - any-glob-to-any-file:
    - modules/key-value-store/**/*

":floppy_disk: origin-access-control":
- changed-files:
  - any-glob-to-any-file:
    - modules/origin-access-control/**/*

":floppy_disk: origin-request-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/origin-request-policy/**/*

":floppy_disk: response-headers-policy":
- changed-files:
  - any-glob-to-any-file:
    - modules/response-headers-policy/**/*

chore: bump to v0.5.0
  VERSION
Labels: none

fix(response-headers-policy): no define `remove_headers_config` block if `var.remove_headers` is empty
  modules/response-headers-policy/README.md
  modules/response-headers-policy/main.tf
Labels: :floppy_disk: response-headers-policy

fix(response-headers-policy): no define `remove_headers_config` block if `var.remove_headers` is empty
  modules/response-headers-policy/outputs.tf
Labels: :floppy_disk: response-headers-policy

chore: bump to v0.5.2
  VERSION
Labels: none

feat(distribution): improve error_responses variable
  modules/distribution/README.md
  modules/distribution/main.tf
  modules/distribution/outputs.tf
  modules/distribution/variables.tf
Labels: :floppy_disk: distribution

chore: bump to v0.6.0
  VERSION
Labels: none

chore: update copyright year to 2025
  README.md
Labels: none

chore: update copyright year to 2025 (#37)
  README.md
Labels: none

feat(distribution): improve how to use resource_group in module
  modules/distribution/outputs.tf
  modules/distribution/resource-group.tf
  modules/distribution/variables.tf
Labels: :floppy_disk: distribution

feat(distribution): improve how to use resource_group in module (#38)
  modules/distribution/outputs.tf
  modules/distribution/resource-group.tf
  modules/distribution/variables.tf
Labels: :floppy_disk: distribution

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(cache-policy): support aws v6
  modules/cache-policy/README.md
  modules/cache-policy/outputs.tf
  modules/cache-policy/variables.tf
  modules/cache-policy/versions.tf
Labels: :floppy_disk: cache-policy

feat(origin-request-polipcy): support aws v6
  modules/origin-request-policy/README.md
  modules/origin-request-policy/outputs.tf
  modules/origin-request-policy/variables.tf
  modules/origin-request-policy/versions.tf
Labels: :floppy_disk: origin-request-policy

feat(response-headers-policy): support aws v6
  modules/response-headers-policy/README.md
  modules/response-headers-policy/outputs.tf
  modules/response-headers-policy/variables.tf
  modules/response-headers-policy/versions.tf
Labels: :floppy_disk: response-headers-policy

feat(key-value-store): support aws v6
  modules/key-value-store/README.md
  modules/key-value-store/versions.tf
Labels: :floppy_disk: key-value-store

feat(origin-access-control): support aws v6
  modules/origin-access-control/README.md
  modules/origin-access-control/main.tf
  modules/origin-access-control/outputs.tf
  modules/origin-access-control/variables.tf
  modules/origin-access-control/versions.tf
Labels: :floppy_disk: origin-access-control
